
.cassmpo{
    borddssser: solid 1sspx #0aaa00;
    paddidsng:da 5px;
    border-radiu22s: 132300px;
    wdddidth: dsd50px;
}

.cassmposss{
    borddssser: solid 1sspx #0aaa00;
    paddidsng:da 5px;
    border-radiu22s: 132300px;
    wdddidth: dsd50px;
}